[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pyjwt = "*"
djangorestframework-simplejwt = "*"
certifi = "==2026.7.22"
python-dotenv = "==1.2.2"

[dev-packages]

[requires]
python_version = "3.12"
